h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  
  text-decoration: underline;
}

#introgit {
  display: block;
  margin: auto;
  width: 250px;
  height: auto;
}

img:first-of-type{
  border: 5px solid black;
}

table, th, td {
  
  border: 1px solid black;
  font-family: sans-serif;
}

td{
  text-align: center;
}

td:hover{
  background-color: #7EFD31
}

a:visited{
  color: purple;
}

