h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  
  text-decoration: underline;
}

#introgit {
  display: block;
  margin: auto;
  width: 250px;
  height: auto;
}

img:first-of-type{
  border: 5px solid black;
}

table, th, td {
  
  border: 1px solid black;
  font-family: sans-serif;
}

table:nth-child(even){
  background-color: orange;
}

td{
  text-align: center;
}

td:hover{
  background-color: #7EFD31
}

a:visited{
  color: purple;
}

#harambe{
  display: block;
  margin: auto;
  width: 511px;
  height: 288px;
}

#harambe:hover{
  background-image: url(https://akphoto1.ask.fm/36b/20e68/163b/402c/9139/7a9f00ebf76f/original/256954.jpg)
}